.o-card{
  background-color: white;
  margin-top: 1rem;
  border-radius: 0.7rem;
  box-shadow: #e2dbdb 3px 1px 7px;;
  padding: 1rem;
  height: 90%;
}


.o-div-login{
  width: 35rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
}


.o-container-login{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-image: url("../src/assets/fondo-login.jpg"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;

}

body{
  margin: 0;
  background-color: rgb(243, 243, 243);
}


.o-alinear-ver{
  display: flex;
  flex-direction: column;
}

.o-alinear-hor{
  display: flex;
  flex-direction: row;
}

.o-centrar-hor{
  display: flex;
  justify-content: center;
}



.o-input{
  height: 2.1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0rem;
  border: 1px solid #e1dddd;
  padding: 0.5rem;
  font-size: 1rem;
  width: 95%;
}


.o-ancho-100{
  width: 100%;
}

.o-ancho-50{
  width: 50%;
    padding: 0.2rem;
}

.o-button{
  background: rgb(1 19 46);
  border: 3px solid rgb(128 229 147) !important;
  border-radius: 5px !important;
  height: 3rem;
  color: #bff5c9;
  font-size: 1.1rem;
  cursor: pointer;
  width: 100%;
}

.o-button:hover{
  background: rgb(128,229,147);
  background: linear-gradient(185deg, rgba(128,229,147,1) 16%, rgba(0,212,255,1) 76%);
  border: 1px solid #80e593 !important;  
  color: rgb(255 255 255);
}

.hor{
  align-items: center;
  width: 27rem;
}

.o-img-google{
  width: 6rem;
}


.o-container-home{
  margin: 3rem 10rem;
}



.o-div-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .o-div-cards{
      grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width: 900px) {
  .o-div-cards{
      grid-template-columns: repeat(3,1fr);
  }
}


.o-borrar-filtro{
  width: 10rem;
  border-radius: 5px !important;
  height: 3rem;
  font-size: 1.1rem;
  cursor: pointer;
  background: rgb(128,229,147);
  background: linear-gradient(185deg, rgba(128,229,147,1) 16%, rgba(0,212,255,1) 76%);
  border: 1px solid #80e593 !important;  
  color: rgb(255 255 255);
}

.o-borrar-filtro:hover{
  color: rgb(34, 34, 34);
  font-weight: 600;
}

.o-div-filtro{
  margin-left: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.titulo-login{
  margin: 0rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
}